<style>
  .tableCell{
    text-align:center;
  }
  .headerCell{
    background-color:#FFAA00;
  }
  .oddTableRow{
    /*background-color:#ffeecd;*/
    background-color:#fff7e7;
  }
  .hoverTableRow{
    background-color:#f7ffcd;
  }
  .selectedTableRow{
    background-color:#ffdd9a;
  }
  .google-visualization-table-sortind {
    color: #fff!important;
    padding-left: 4px;
  }
</style>
<script type="text/javascript">
  {% for ct in data_html.chart %}
      {% if ct.on_click_handler != "" %}
          function displayDefaultPointer_{{ct.chart_name}}() {
            $('#{{ct.chart_name}}').css('cursor','default')
          }
          function displayHandPointer_{{ct.chart_name}}() {
            $('#{{ct.chart_name}}').css('cursor','pointer')
          }
      {% endif %}
  {% endfor %}
</script>

<script type="text/javascript">

//console.log(value.container_id);
google.charts.load('current', {'packages':['corechart','table']});
google.charts.setOnLoadCallback(drawChart);
var datas = {};
var chartsRef = {"last_contact_with_family":"","recommended_adoption_view":"", "stay_since_adoption_inquiry":"", "stay_in_cci":"", "last_review_by_cwc":"","child_adpotion_status":"","categories_in_cci":""}
function recommended_adoption_view_click_handler(e) {
    var selectedChart = chartsRef['recommended_adoption_view_click_handler'];
    var selection = selectedChart.getSelection();
    var on_click_urls = [];
    for (data in datas.chart)
    {
      var value = datas.chart[data];
      if(value.on_click_handler == 'recommended_adoption_view_click_handler')
      {
        on_click_urls = value.on_click_urls;
        break;
      }
    }
    var url = "";
    for (var i = 0; i < selection.length; i++) {
        if (selection[i].row != null)
        {
          url = on_click_urls[selection[i].row];
          break;
        }
    }
    if(url.length > 0)
    {
      window.open(url,'WAIC-Recommended Adoption Inquiry')
    }
}
function drawChart()
{
  datas= {{ data|safe }};
  var chart;
  for (data in datas.chart)
  {
    var value = datas.chart[data];
    var data = new google.visualization.arrayToDataTable(value.datas);
    var options = value.options;
    var on_click_urls = value.on_click_urls;
    var on_click_handler = value.on_click_handler;
    var chart_type= value.chart_type;
    var containerID= value.chart_name;

    //console.log(containerID);

    //document.getElementById(value.title_div).append(value.chart_title);
    //$(value.div_size_id).addClass(value.div);

    if(data.getNumberOfRows() == 0)
    {
      document.getElementById(containerID).append("Data Not Available");
    }
    else
    {
      if(chart_type == 'COLUMNCHART' )
      {
        // if all values are empty display "Data Not Available" instead of empty chart
        var arrayColumn = (arr, n) => arr.map(x => x[n]);
        var second_column = arrayColumn(value.datas, 1);
        var slice_first_row = second_column.slice(1, second_column.length);
        var all_array_value = slice_first_row.filter(x => x > 0).length >= 1;
        if(all_array_value==true)
        {
          var view = new google.visualization.DataView(data);
          view.setColumns([0, 1,
                  { calc: "stringify",
                    sourceColumn: 1,
                    type: "string",
                    role: "annotation" },
                  2]);
          chart = new google.visualization.ColumnChart(document.getElementById(containerID));
          chart.draw(view, options);
        }
        else
        {
          document.getElementById(containerID).append("Data Not Available");
        }
      }
      else if(chart_type == 'PIECHART')
      { 
        // if all values are empty display "Data Not Available" instead of empty chart
        var arrayColumn = (arr, n) => arr.map(x => x[n]);
        var second_column = arrayColumn(value.datas, 1);
        var slice_first_row = second_column.slice(1, second_column.length);
        var all_array_value = slice_first_row.filter(x => x > 0).length >= 1;
        if(all_array_value==true)
        {
          var chart = new google.visualization.PieChart(document.getElementById(containerID));
          chart.draw(data, options);
        }
        else
        {
          document.getElementById(containerID).append("Data Not Available");
        }
      }
      else if(chart_type == 'TABLECHART')
      {
        var chart = new google.visualization.Table(document.getElementById(containerID));
        chart.draw(data, options);
      }
      else if(chart_type == 'BARCHART' )
      {
        // if all values are empty display "Data Not Available" instead of empty chart
        var arrayColumn = (arr, n) => arr.map(x => x[n]);
        var second_column = arrayColumn([["", "", {"role": "style"}], ["Shelter14", 1, "#FFAA00"]], 1);
        var slice_first_row = second_column.slice(1, second_column.length);
        var all_array_value = slice_first_row.filter(x => x > 0).length >= 1;
        if(all_array_value==true)
        {
          var view = new google.visualization.DataView(data);
          view.setColumns([0, 1,
                  { calc: "stringify",
                    sourceColumn: 1,
                    type: "string",
                    role: "annotation" },
                  2]);
          chart = new google.visualization.BarChart(document.getElementById(containerID));
          if(on_click_urls.length > 0)
          {
            if (on_click_handler == 'recommended_adoption_view_click_handler')
            {
              google.visualization.events.addListener(chart, 'select', recommended_adoption_view_click_handler);
              google.visualization.events.addListener(chart, 'onmouseover', displayHandPointer_recommended_adoption_view);
              google.visualization.events.addListener(chart, 'onmouseout', displayDefaultPointer_recommended_adoption_view);
            }
          }
          chart.draw(view, options);
        }
        else
        {
          document.getElementById(containerID).append("Data Not Available");
        }
      }

    }
    chartsRef[value.on_click_handler] = chart;
  }
}


</script>